<div class="card shadow text-center" role="region" aria-label="Project card">
    <div class="card-body">
        <h5 class="card-title">{{project.name}}</h5>
        <p class="card-text">{{project.summary}}</p>
        <button class="btn btn-primary" (click)="OpenProjectModal()" [attr.aria-label]="'View more about ' + project.name">View More</button>
    </div>
    <div class="card-footer">
        <div class="d-flex flex-wrap justify-content-center" aria-label="Project tags">
            <ng-container *ngFor="let tag of project.tags">
                <span class="tag me-2 mb-1" [style.background-color]="tag.color">{{tag}}</span>
            </ng-container>
        </div>
    </div>
</div>