<div class="container" role="main">
    <div class="text-center border mb-5 shawod rounded">
        <h1>Contact</h1>
        <p>You can reach to me at my email: <a href = "mailto: sulik.fp.com"><b>sulik.fp<span>&#64;</span>gmail.com</b></a></p>
        <p>Also feel free to contact me on any of following platforms:</p>
    </div>
    <div class="list-group shadow" aria-label="Contact platforms">
        <a href="https://www.linkedin.com/in/filip-šulík-4b6063254/" target="_blank" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-label="LinkedIn">
        <img src="../../assets/linkedin-icon.png" width="32" height="32" class="rounded-circle flex-shrink-0 me-5" alt="Linkedin icon"><h3 class="mb-0">LinkedIn</h3></a>
        <a href="https://www.instagram.com/yowosk/" target="_blank" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-label="Instagram">
        <img src="../../assets/instagram-icon.png" width="32" height="32" class="rounded-circle flex-shrink-0 me-5" alt="Instagram icon"><h3 class="mb-0">Instagram</h3></a>
        <a href="https://github.com/YowoSK" target="_blank" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-label="GitHub">
        <img src="../../assets/github-icon.png" width="32" height="32" class="rounded-circle flex-shrink-0 me-5" alt="GitHub icon"><h3 class="mb-0">GitHub</h3></a>
        
    </div>
</div>