<div class="container text-center" role="main">
  <button (click)="DownloadFile()" class="btn btn-primary mb-5 shadow border" aria-label="See my CV">
    See my CV
  </button>
  <div class="pb-2">
    <accordion [isAnimated]="true" class="shadow" aria-label="Resume sections">
      <accordion-group [(isOpen)]="isSkillsOpen">
        <button
          class="btn btn-block justify-content-between d-flex w-100"
          accordion-heading
          [attr.aria-expanded]="isSkillsOpen"
          aria-controls="skills-section"
        >
          <div style="visibility: hidden">></div>
          <div class="btn-link">Skills</div>
          <div style="width: 10.95px">
            <div *ngIf="!isSkillsOpen" class="white">→</div>
            <div *ngIf="isSkillsOpen" class="white">↓</div>
          </div>
        </button>
        <div class="row" style="text-align: left" id="skills-section">
          <div class="col">
            <h3>Progrming languages</h3>
            <ul>
              <li>Python</li>
              <li>Java</li>
              <li>Angular</li>
              <li>Arduino</li>
              <li>React</li>
            </ul>
          </div>
          <div class="col">
            <h3>Other</h3>
            <ul>
              <li>Version control system - Git</li>
              <li>Agile development</li>
              <li>Basic Linux Knowlage</li>
              <li>Judo</li>
              <li>Hockeyball</li>
            </ul>
          </div>
        </div>
      </accordion-group>
      <accordion-group [(isOpen)]="isCertificationsOpen">
        <button
          class="btn btn-block justify-content-between d-flex w-100"
          accordion-heading
        >
          <div style="visibility: hidden">></div>
          <div class="btn-link">Certifications</div>
          <div style="width: 10.95px">
            <div *ngIf="!isCertificationsOpen" class="white">→</div>
            <div *ngIf="isCertificationsOpen" class="white">↓</div>
          </div>
        </button>
        <div style="text-align: left">
          <h2 class="mb-0">Network Certificates</h2>
          <h3 class="text-primary">Cisco Networking Academy</h3>
          <ul>
            <li>
              CCNAv7: CCNA 2 Switching, Routing, and 
              Wireless Essentials
            </li>
            <li>
              CCNAv7: CCNA 1 Introduction to Networks
            </li>
          </ul>
          <h2 class="mb-0">Electrotechnical Competance</h2>
          <h3 class="text-primary">Stredná odborná škola technická Kukučínova</h3>
          <ul>
            <li>
              Odborná spôsobilosť na vykonávanie
              činnosti na technických zariadeniach
              elektrických §21
            </li>
          </ul>
        </div>
      </accordion-group>
      <accordion-group [(isOpen)]="isEducationOpen">
        <button
        class="btn btn-block justify-content-between d-flex w-100"
        accordion-heading
      >
        <div style="visibility: hidden">></div>
        <div class="btn-link">Education</div>
        <div style="width: 10.95px">
          <div *ngIf="!isEducationOpen" class="white">→</div>
          <div *ngIf="isEducationOpen" class="white">↓</div>
        </div>
      </button>
        <div style="text-align: left">
          <h2 class="mb-0">Post-secondary professional diploma</h2>
          <h3 class="text-primary">Košická akadémia softvérového vývoja</h3>
          <ul>
            <li>
              Field of study: Computer systems
            </li>
          </ul>
          <h2 class="mb-0">High school</h2>
          <h3 class="text-primary">Stredná odborná škola technická Kukučínova
            Poprad</h3>
          <ul>
            <li>
              Field of study: Mechanic of computer networks
            </li>
          </ul>
        </div>
      </accordion-group>
      <accordion-group [(isOpen)]="isExperienceOpen">
        <button
        class="btn btn-block justify-content-between d-flex w-100"
        accordion-heading
        
      >
        <div style="visibility: hidden">></div>
        <div class="btn-link">Work Experience</div>
        <div style="width: 10.95px">
          <div *ngIf="!isExperienceOpen" class="white">→</div>
          <div *ngIf="isExperienceOpen" class="white">↓</div>
        </div>
      </button>
        <div style="text-align: left">
          <h2 class="mb-0">Application Developer</h2>
          <h3 class="text-primary">Deutche Telekom IT Solutions Slovakia s.r.o.</h3>
          <ul>
            <li>
              Work on React project for internal web based application.
            </li>
            <li>
              Work on Angular project for codergames event.
            </li>
          </ul>
          <h2 class="mb-0">Electrician & Networks</h2>
          <h3 class="text-primary"></h3>
          <ul>
            <li>
              Work in the form of a summer job.
            </li>
          </ul>
          <h2 class="mb-0">Sales</h2>
          <h3 class="text-primary">Kaufland v.o.s.</h3>
          <ul>
            <li>
              Work in the form of a summer job.
            </li>
          </ul>
          
        </div>
      </accordion-group>
    </accordion>
  </div>
</div>
